<div class="container">
    <h2>Devices</h2>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                {{#each data.devices}}
                <tr>
                    <td>{{this.name}}</td>
                    <td class="text-right">
                        <a href="{{ROOT_DIR}}/devices/{{this.id}}"
                        title="Edit Device"
                        class="btn btn-primary">
                        <i class="fa fa-fw fa-pencil"></i>
                        </a>
                        <a href="{{ROOT_DIR}}/devices/{{this.id}}/delete"
                        title="Delete Device"
                        class="btn btn-danger">
                        <i class="fa fa-fw fa-trash"></i>
                        </a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr class="">
                    <td colspan="2" class="text-center">
                        <p>{{data.deviceCount}} device(s) registered</p>
                        <a href="{{ROOT_DIR}}/devices/new"
                           title="Register new device"
                           class="btn btn-success">
                            <span class="fa fa-fw fa-plus"></span>
                            Register new device
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>